<%- contentFor( 'body') %>

<div>
  <p>

    </p>
    <p> <b> João André França Mourão </b> <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
    <p>O código desta aplicação foi desenvolvido na disciplina de Autoração Multimídia 2. <b> <br/> A aplicação está sob licença: </b>  <a href="https://github.com/Jottoss/first_app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">GNU General Public License Version 3.0</a></p>
    <p>Está aplicação
    foi fundamentanda no código do professor Wellington Wagner F. Sarmento. <br/> <b>O código desta aplicação encontra-se no endereço:   </b> <a href="https://github.com/Jottoss/first_app" target="_blank" rel="noopener noreferrer">https://github.com/Jottoss/first_app</a></p>
</div>