<%- contentFor( 'body') %>

<div>
    <p>

    </p>
    <font face="roboto condensed" color="#02899C">
      <h3> Sobre a Aplicação </h3> 
    </font>
    <p>
    <font face="open sans" color="#02545F">
    Está aplicação web utiliza a tecnologia Node.js, EJS Express, Html, Css e Javascript para simular a listagem, cadastramento, edição e exclusão de usuários em um sistema, isto serviu de estudo para progresso nesses conhecimentos.
    
    <p>A aplicação foi desenvolvida pelo aluno João André França Mourão para o trabalho 01 da Disciplina de Autoração Multimídia 2, do curso de Sistemas e Mídias Digitais da Universidade Federal do Ceará (UFC) sob tutela do professor Wellington Wagner F. Sarmento.</p> 
   </font>

    
</div>

